/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  font-size: 1.5rem;
  margin-left: 20px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #201e1e;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.main-header {
  width: 100%;
  text-align: center;
}
.main-header .nav-container {
  display: flex;
  background-color: #201e1e;
  justify-content: space-between;
  padding: 15px;
}
@media (max-width: 500px) {
  .main-header .nav-container {
    flex-direction: column;
  }
}
.main-header .nav-container .logo {
  font-size: 2rem;
  color: #fad0c9;
  text-decoration: none;
}
.main-header .nav-container .logo:hover {
  color: #CC3AA6;
  text-shadow: 2px 2px 8px #fad0c9;
}
@media (max-width: 500px) {
  .main-header .nav-container .nav {
    margin-top: 15px;
  }
}
.main-header .nav-container .nav a {
  color: #fad0c9;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}
.main-header .nav-container .nav a:hover {
  color: #CC3AA6;
  text-shadow: 5px 5px 15px #fad0c9;
}
@media (max-width: 500px) {
  .main-header .nav-container .nav a {
    font-size: 1.2rem;
  }
}
.heading {
  background-image: url(../img/bg-pink.png);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .heading {
    height: 50vh;
  }
}
.heading .box {
  padding: 5%;
  background-color: #201e1edb;
  text-align: center;
  border-radius: 10px;
}
.heading .box h1 {
  color: #fad0c9;
  font-size: 3rem;
}
.heading .box h3 {
  color: #fad0c9;
  font-size: 2rem;
  margin-top: 10px;
}
.container .about {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #201e1e;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .container .about {
    width: 100%;
    flex-direction: column;
  }
}
.container .about img {
  width: 280px;
  margin: 30px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px grey;
}
@media (max-width: 500px) {
}
.container .about .about-text {
  width: 45%;
  padding: 20px;
}
@media (max-width: 500px) {
  .container .about .about-text {
    width: 100%;
  }
}
.container .about .about-text h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20%;
  color: #fad0c9;
  text-shadow: 3px 3px 2px black, 0 0 25px #201e1e, 0 0 5px #201e1e;
}
@media (max-width: 500px) {
  .container .about .about-text h2 {
    margin-top: 1%;
  }
}
.container .about .about-text p {
  font-size: 1.8rem;
  text-align: left;
  padding: 10px;
}
.container .portfolio {
  margin-top: 3%;
}
.container .portfolio h2 {
  font-size: 3rem;
  padding: 20px;
  text-align: center;
  color: #fad0c9;
  text-shadow: 3px 3px 2px black, 0 0 25px #201e1e, 0 0 5px #201e1e;
}
.container .portfolio h4 {
  font-size: 1rem;
  padding: 5px;
}
.container .contact {
  border-top: 2px solid #201e1e;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .container .contact {
    flex-direction: column;
  }
}
.container .contact h2 {
  font-size: 3rem;
  padding: 20px;
  margin-top: 7%;
  color: #fad0c9;
  text-shadow: 3px 3px 2px black, 0 0 25px #201e1e, 0 0 5px #201e1e;
}
@media (max-width: 500px) {
  .container .contact h2 {
    text-align: center;
  }
}
.container .contact .info .icon {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .container .contact .info .icon {
    flex-direction: column;
  }
}
.container .contact .info .icon img {
  width: 40px;
  margin: 10px;
}
.container .contact .info .icon h3 {
  font-size: 2rem;
  padding: 5px 5px 10px 5px;
}
@media (max-width: 500px) {
  .container .contact .info .icon h3 {
    font-size: 1.5rem;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 500px) {
  .tabs {
    width: 100%;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .tabs .topics .title {
    display: none;
  }
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #fad0c9;
  background-color: #201e1e;
  margin: 0 5px;
  padding: 5px 15px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #fad0c9;
  color: #201e1e;
  border: 2px solid #201e1e;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
.cards-container .card {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #fad0c9;
  border: 2px solid #201e1e;
  width: 33%;
  margin-bottom: 16px;
  padding: 2%;
}
@media (max-width: 500px) {
  .cards-container .card {
    width: 45%;
  }
}
.cards-container .card .img-container img {
  width: 100%;
  border: 1px solid #201e1e;
}
.cards-container .card .headline {
  font-size: 2rem;
  margin-top: 10px;
}
.cards-container .card span {
  margin-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.cards-container .card .project-link {
  margin-top: 10px;
}
.cards-container .card .project-link a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}
.cards-container .card .project-link a:hover {
  text-decoration: underline;
}
