.tabs {
    .flex(center, center);
    width: 100%;
    @media @phone{
       width: 100%;
    }
    .topics{
        .flex(none, center);
        .title {
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: bold;
            @media @phone{
                display: none;
            }
          }
          .tab{
            .flex(none, center);
            color: @pink;
            background-color: @black;
            margin: 0 5px;
            padding: 5px 15px;
            font-size: 12px;
            letter-spacing: 2px;
            // border: 2px solid @pink;
            cursor: pointer;
            font-weight: bold;
            &:hover {
            text-decoration: underline;
            }
        }
        .active-tab{
            background-color: @pink;
            color: @black;
            border: 2px solid @black;
        }
    }
    //.topics
}