.heading{
    // background-image: url(../img/bg.jpg);
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.heading .text-header{
    align-items: center;
}