.heading{
    // background-image: url(../img/bg.jpg);
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.text-header{
    text-align: center;
    padding: 15%;

    h1{
        font-size: 45px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 30px;
    }
    
}