@import "../../styles/variables";

.contact-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    
    .contact-card{
        background-color: $main-blue;
        width: 60%;
        display: flex;
        align-items: center;
        // padding: 25px;
        border: 1px solid $main-blue;
        text-align: center;
        
        .contact-left{
            width: 100%; 
            padding: 25px;
            h1{
                color: $white;
            }
            p {
                color: $white;
            }
        }
        .contact-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color:$white;
            padding: 25px;
            h2 { 
                color: $main-blue;
                }
            }
            img {
            width: 40px;
            margin: 0 auto;
            padding: 2px;
            }
    }
    
}