// primary colors
$main-blue: #001529;
$medium-blue: #1890ff;
$white: #ffffff;
$black: #000000;



//secondary colors


//basic grey shades



// Status colors

// Font family
$font-family: Mada, Lato, sans-serif, arial;


//media queries
$mobile: 'only screen and (max-width:500px)';
$tablet: 'only screen and (max-width:1200px)';
$tablet-small: 'only screen and (max-width:800px)';
$tablet-short: 'only screen and (max-height:550px)';
$desktop: 'only screen and (min-width:1200px)';